<!DOCTYPE html>
<html>
  <head>
    <title>Walljasper I/O</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit: cover;
      }
    </style>
    </style>
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <h1 class="text-center mt-2 mb-4">Walljasper I/O</h1>
      <p>Here you will find many useless things</p>
      <img class="img-fluid" id="banner" src="https://spaceport.cwalljasper.repl.co/static/spacewalk.png">
      <h2 class="text-center mt-2 mb-4">About the Spaceport</h2>
      <p class="lead">Quia hic similique officiis in doloribus. Magnam delectus tenetur hic molestiae occaecati in laboriosam possimus. Ipsa temporibus in rerum hic qui omnis ut non. Beatae quia ad omnis.
  
        Rerum ipsum perferendis est ea quia. Officia eum beatae repellat eum quis quam id. Sint dicta autem placeat rerum et totam. Facere deleniti quis nulla est necessitatibus ex praesentium hic.
  
        Quos nostrum similique mollitia at consequatur eos quis molestiae. Modi harum ab aliquam aliquid dolorem reiciendis fugiat. Et dolor est odio.
  
        Dolorem voluptate ut provident omnis eius et et fuga. Nulla totam sit et ipsa aliquam rerum. Repellendus et est sit sed dolores soluta molestiae. Natus molestias exercitationem ut rerum.
  
        Maiores aut cupiditate consectetur est qui eos odio. Et et qui consequatur aut ducimus deleniti distinctio.
      </p>
      <h2 class="text-center mt-2 mb-4">Active Projects:</h2>
      <div>
        {% for project in projects %}
          {% if project.status != "Unapproved" %}
            {% include 'projectitem.html' %}
          {% endif %}
        {% endfor%}
      </div>
      <h2 class="text-center mt-2 mb-4">Pending Projects:</h2>
      <div>
        {% for project in projects %}
          {% if project.status == "Unapproved" %}
            {% include 'projectitem.html' %}
          {% endif %}
        {% endfor%}
      </div>
      <div class="text-center">
        <button class="btn btn-primary btn-lrg">Request</button>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>